build/Release

# General
.DS_Store
/.bundle
/log/*
/tmp/*
/db/*.sqlite3*
/db/*.sqlite3-journal
/db/*.sqlite3-*
/public/assets
/public/packs
/public/packs-test
/node_modules
/yarn-error.log
/coverage/
.byebug_history
.pry_history
.env
.env.*
.rspec_status
.results.json
/.vscode
/spec/examples.txt
/config/master.key
/config/credentials.yml.enc
*.swp
*~
*.bak
*.tmp
*.log
debug.log
npm-debug.log*
build/
jspm_packages/
.npm/
.node_repl_history

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp
